/* General layout and dark theme */
.midsemForm {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 140px; /* Moves the form 140px down */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logoMidsem {
  font-size: 24px;
  font-weight: bold;
  color: #6200ea;
  background-color: rgba(216, 216, 216, 0.977); 
  padding: 5px;
  border-radius: 5%;
  /* Match logo color */
}

.formContainerMidsem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slotContainerMidsem {
  margin-bottom: 30px;
  text-align: center;
}

.inputMidsem {
  margin-right: 10px;
}

.labelMidsem {
  font-size: 16px;
  color: #ffcc00;
  margin-bottom: 10px;
  display: block;
}

.SlotMidsem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SlotMidsem input,
.SlotMidsem .react-datepicker__input-container {
  color: #fff;
  background-color: #333;
  border: 1px solid #fcfcfc;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.ButtonMidsem {
  background-color: #6200ea;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ButtonMidsem:hover {
  background-color: #3700b3;
}

@media (max-width: 700px) {
  .SlotMidsem {
    flex-direction: column;
  }

  .SlotMidsem input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .formContainerMidsem {
    padding: 10px;
  }
}
